<h2>Update yer Machine Info</h2>

<form method="POST" action="/profile/<%= machine.id %>/?_method=PUT">

<label for="name">Name</label>
<input type="text" name="name" value="<%= machine.name %>" />

<input type="submit" value="UPDATE MY MACHINE" />

</form>