<h2>Pinball Wars!</h2>
<img src="https://media1.giphy.com/media/UVY1Ddki0pnd6/giphy.gif" alt="pinball">

<% if (!currentUser) { %>
<a href="/auth/signup">Signup</a> |
<a href="/auth/login">Login</a>
<% } else { %>
    <h3>Hello, <%= currentUser.name %> </h3>
<a href="/auth/logout">Logout</a> |
<a href="/profile">Profile</a>
<% } %>